html { font-family: sans-serif; background: #393e46; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: #fffbee; }
h1 { font-family: sans-serif; color: black; padding:10px; }
h2 { font-family: sans-serif; color: black; padding:10px; }
label { font-family: sans-serif; color: black; padding:10px; }
button { background-color: #d65a31; color: #fffbee; padding: 10px 15px; border: none; cursor: pointer; }
a { color: #377ba8; }
hr { border:10px solid #393e46 }

.logo {
    background-color: #393e46;
}
.logo img {
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: auto;
}

.topbar {
    background-color: #333;
    overflow: hidden;
}

.topbar a {
    float: left;
    color: #fffbee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar a:hover {
    background-color: #d65a31;
    color: white;
}

.topbar a.active {
    background-color: #d65a31;
    color: white;
}


th {
  border: 1px solid #000000;
  text-align: left;
  width: 20%;
  padding: 10px;
  background-color:#333;
  color:white;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
}

p {
  padding: 10px;
}

ul {
  padding: 10px;
  margin: 5px;
}
