<!doctype html>
<title>Welcome</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <div class="logo">
        <a href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}" ></a>
    </div>

	<div class="topbar">
		<a href="/home">Home</a>
		<a class="active" href="/browseall">Browse Modules</a>
		<a style="float:right" href="/home">Log In</a>
	</div>

	<div class="sidebar">
	</div>

	<div class="main">

		<!-- PLACEHOLDER CODE BELOW -->

		<h1>Browse Modules</h1>

		<h2> THIS IS PLACEHOLDER TEXT </h2>
		<ul>
      <li><a href="/module"><b>Introduction to Object Oriented Design Patterns</b></a></li>
      <br>
      <li><a href="/module"><b>Variant of Introduction to Object-Oriented Design Patterns</b></a></li>
    </ul>
	</div>



	<section class="content">
</body>
<!--  -->
