<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="logo">
        <a href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}" ></a>
    </div>
	<div class="topbar">
		<a class="active" href="/home">Home</a>
		<a href="/browseall">Browse Modules</a>
		<a style="float:right" href="/home">Log In</a>
	</div>



	<div class="main">
		<h1>Login</h1>
		<p>Please enter your ID and Password.</p>

		<hr>

        <label for="id"><b>User ID</b></label>
        <input type="text" placeholder="Username" name="id" required>

        <br>

        <label for="pw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="pw" required>

        <br>

        <button type="submit">Login</button>
	</div>
</body>
</html>