<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" href="/home">
    </div>
	<div class="topbar">
		<a class="active" href="/home">Home</a>
		<a href="/browseall">Browse Modules</a>
		<a style="float:right" href="/home">Log In</a>
	</div>



	<div class="main">
		<h1>Welcome</h1>
		<p>Welcome to our reengineering of the SWENET and EdRepo systems prototype!</p>

		<hr>
		<p>Target System is a reengineering effort of the <a href="http://www.swenet.org/">SWENET</a>
			and <a href="http://edrepo.sourceforge.net">EdRepo</a> applications.
		</p>

		<br>
		<p>
			The purpose of Target System is to make it easier for people to store, find, and
use educational information related to a particular field of study. Target System aims to
do this by providing a centralized place to store this information so that the authors and
the users of the educational content only need to visit one place to find it all. By
providing a platform for storing educational materials and information, the application
thus also helps people to share knowledge in an accessible and easy-to-find way.
To improve ease of access, the target system also aims to standardize the format
of the educational information presented on the application by providing a way of
discretizing it and relating it to a certain topic. This is done by storing all educational
information on the application in the form of “modules”. A particular subset of
information within a field of study, like for example information related to the Software
Engineering topic of design patterns, is stored and presented as a module. This module
contains an aggregation of related educational information and activities, such as
exercises or readings. For example, such information could consist of a set of lecture
slides on the Connector pattern in this scenario. By aggregating educational content and
relating them to particular topics, the application allows its users to search through
educational information more effectively.
Lastly, the target system also is a platform for improving the quality of
educational information available and encouraging discussion. The application facilitates
moderation of content added to the application’s repository by providing a process for
reviewing and editing the content added by the application’s administrative personnel.
Additionally, the application allows for the administrative personnel to control the group
of users who can submit content to the application and who is responsible for reviewing
the submitted content. The application also allows for users of the application to provide
ratings to materials so that they may provide feedback to the authors and other users of
the quality of the educational content.
        </p>
	</div>
</body>
</html>