<!doctype html>
<title>Welcome</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/wizardstyle.css') }}">
<body>
    <div class="logo">
        <a href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}" ></a>
    </div>

	<div class="topbar">
		<a href="/home">Home</a>
		<a href="/browseall">Browse Modules</a>
    <a class="active" href="/modulewizard">Module Wizard</a>
		<a style="float:right" href="/login">Account</a>
	</div>

	<div class="main">

		<h1>Module Wizard</h1>
    <hr>
    <div>
      <h2>Basic Module Information</h2>

      <label><b>Author</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
      <label><b>Module Title</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
      <label><b>Module Description</b></label><textarea style="float:right; width:50%;" type="text"></textarea><br><br><br><br>
      <label><b>User Group Restrictions</b></label><select style="float:right; width:50%;">
        <option>Unregistered User</option>
        <option>User</option>
        <option>Faculty</option>
        <option>Editor</option>
        <option>Administrator</option>
      </select><br><br>
      <br><br>
    </div>

    <div>
    <hr>
      <h2>Module Content Type Details</h2>
      <label><b>Interactivity Type</b></label><select style="float:right; width:50%;">
        <option>Mixed</option>
        <option>Active</option>
        <option>Expositive</option>
        <option>Undefined</option>
      </select><br><br>

      <label><b>Category</b></label><select id="cat_select" style="float:right; width:50%;">
        <option>Computing Essentials</option>
        <option>Software Design</option>
        <option>Software Evolution</option>
        <option>Mathematical and Engineering Fundamentals</option>
        <option>Software Modeling and Analysis</option>
        <option>Software Management</option>
        <option>Professional Practice</option>
        <option>Software Process</option>
        <option>Software Quality</option>
      </select><br><br>
      <br><br><div id="cats"></div><br>
      <button onclick="getElementById('cats').innerHTML = getElementById('cats').innerHTML.concat(getElementById('cat_select').value, '<br>')">Add</button>
      <button onclick="getElementById('cats').innerHTML = ''">Clear</button><br><br><br>

      <label><b>Objectives</b></label><select id="obj_select" style="float:right; width:50%;">
        <option>Knowledge</option>
        <option>Comprehension</option>
        <option>Application</option>
        <option>Synthesis</option>
        <option>Evaluation</option>
      </select><br><br>
      <br><div id="obj"></div><br>
      <button onclick="getElementById('obj').innerHTML = getElementById('obj').innerHTML.concat(getElementById('obj_select').value, '<br>')">Add</button>
      <button onclick="getElementById('obj').innerHTML = ''">Clear</button><br><br><br>
    </div>

    <label><b>Topics</b></label><input type="text" id="topic_select" style="float:right; width:50%;">
    <br><br><div id="topics"></div><br>
    <button onclick="getElementById('topics').innerHTML = getElementById('topics').innerHTML.concat(getElementById('topic_select').value, '<br>')">Add</button>
    <button onclick="getElementById('topics').innerHTML = ''">Clear</button><br><br><br>

    <label><b>Pre-requisites</b></label><input type="text" id="pr_select" style="float:right; width:50%;">
    <br><br><div id="pr"></div><br>
    <button onclick="getElementById('pr').innerHTML = getElementById('pr').innerHTML.concat(getElementById('pr_select').value, '<br>')">Add</button>
    <button onclick="getElementById('pr').innerHTML = ''">Clear</button><br><br>
    </div>

    <div>
    <hr>
      <h2>Module Content Duration Details</h2>
      <label><b>Homework length (minutes)</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
      <label><b>Labwork length (minutes)</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
      <label><b>Lecture length (minutes)</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
      <label><b>Excersize length (minutes)</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
      <label><b>Other content length (minutes)</b></label><input style="float:right; width:50%;" type="text"></input><br><br>
    </div>

    <div>
    <hr>
      <h2>Module References</h2>
      <label><b>Parent Module</b></label><select id="pm_select" style="float:right; width:50%;">
        <option>Use Case Modeling</option>
        <option>Software Reviews</option>
        <option>Informal Requirements Modeling</option>
        <option>Introduction to Software Engineering Processes</option>
        <option>...</option>
      </select><br><br>
      <br><div id="pm"></div><br>
      <button onclick="getElementById('pm').innerHTML = getElementById('pm_select').value">Add</button>
      <button onclick="getElementById('pm').innerHTML = ''">Clear</button><br><br><br>

      <label><b>Child Modules</b></label><select id="cm_select" style="float:right; width:50%;">
        <option>Use Case Modeling</option>
        <option>Software Reviews</option>
        <option>Informal Requirements Modeling</option>
        <option>Introduction to Software Engineering Processes</option>
        <option>...</option>
      </select><br><br>
      <br><div id="cm"></div><br>
      <button onclick="getElementById('cm').innerHTML = getElementById('cm').innerHTML.concat(getElementById('cm_select').value, '<br>')">Add</button>
      <button onclick="getElementById('cm').innerHTML = ''">Clear</button><br><br><br>

      <label><b>"See Also" Modules</b></label><select id="sa_select" style="float:right; width:50%;">
        <option>Use Case Modeling</option>
        <option>Software Reviews</option>
        <option>Informal Requirements Modeling</option>
        <option>Introduction to Software Engineering Processes</option>
        <option>...</option>
      </select><br><br>
      <br><div id="sa"></div><br>
      <button onclick="getElementById('sa').innerHTML = getElementById('sa').innerHTML.concat(getElementById('sa_select').value, '<br>')">Add</button>
      <button onclick="getElementById('sa').innerHTML = ''">Clear</button><br><br><br>
    </div>

    <div>
    <hr>
      <h2>Materials</h2>

      <div id="files"></div><br><br>
      <input id="file_in" type="file"></input><br><br>
      <button onclick="getElementById('files').innerHTML = getElementById('files').innerHTML.concat(getElementById('file_in').value, '<br>')">Add</button>
      <button onclick="getElementById('files').innerHTML = ''">Clear</button>
    <div>

      <div>
      <hr>
        <button>Submit Module</button>
        <button style="float:right">Save & Exit</button>
      <div>

    </div>


  </div>


  </div>



	<section class="content">
</body>
